// set base styles
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

body {
  font-family: sans-serif;
  font-weight: 100;
  
  ul {
    list-style: none;
  }
  
  ul, li {
    margin: 0;
    padding: 0;
  }
}

.chart {
  min-height: 400px;
  border-bottom: 1px solid #eee;

  padding: 1em;
}



.charts--container {
  background-color: #fff;
  width: 100%;
  
  @media screen and (min-width: 700px) {
    max-width: 700px;
    
    left : 50%;
    top : 10%;
    margin: 5em auto; 
  }
}

.charts--headline {
  text-align: center;
  color: #444;
  background-color: #fff;
  padding: 1em;
}

.lineChart--area {
  fill: url(#lineChart--gradientBackgroundArea);
}

.lineChart--areaLine {
  fill   : none;
  stroke : #72787E;
  stroke-width: 3;
}

.lineChart--bubble--label {
  fill: none;
  stroke: #6bb7c7;
  
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
}

.lineChart--bubble--value {
  fill: #fff;
  stroke: #fff;
  
  font-size: 21px;
  font-weight: 100;
}
.lineChart--circle {
  fill: #2A2F35;
  stroke: #fff;
  stroke-width: 3;
}

.lineChart--circle__highlighted {
  fill: #fff;
  stroke: adjust-lightness( #6bb7c7, -15 );
}

.lineChart--gradientBackgroundArea--top {
  stop-color   : #fff;
  stop-opacity : 0.1;
}

.lineChart--gradientBackgroundArea--bottom {
  stop-color   : #9B906B;
  stop-opacity : 0.6;
}

// d3.js doesn't let me BEM it. :(
.lineChart--xAxisTicks, .lineChart--xAxis, .lineChart--yAxisTicks {
  .domain {
    display: none;
  }
}

.lineChart--xAxis {
  .tick {
    // display: none;
    line {
      display: block;
    }
  }
}

.lineChart--yAxis {
  .tick {
    display: block;
  }
}

.pieChart--center--innerCircle {
  fill: #fff;
}

.text{
  font-size: 16px;
  text-align: center;
}
.text {
  text-decoration: underline;
}