//minwidth 800
.map {
	width: 100%;
	height: 70vw;
	text-align: center;
	background-color: white;
	margin: 0;
}

section {
	width: 95%;
	text-align: center;
	margin: 20px auto;
	background-color: $lightBeige;
	h2 {
		margin: 0;
		padding: 15px 0;
	}
}

.casualties {
	background-color: $beige;
	width: 45%;
	height: 125px;
	display: inline-block;
	margin: 0 1%;
	margin-bottom: 5%;
	text-align: center;
	h4 {
		margin: 10px auto;
		margin-top: 15px;
		font-family: $libre;
		font-weight: 300;
		text-transform: uppercase;
		width: 60%;
		text-align: center;
	}
	div {
		font-size: 56px;
		font-family: $libre;
		font-weight: 500;
	}
}

#non-totals {
	background-color: $lightBlue;
	margin-bottom: 0;
	p {
		height: 50px;

	}
}

a {
	font-family: $libre;
	font-weight: 700;
}

.dets {
	font-family: $libre;
	font-weight: 400;
}
form {
	display: none;
}

@media screen and (min-width: 800px)  {

	.map {
		min-width: 755px;
		width: 60%;
		height: 670px;
		float: left;
	}
	section {
		width: 35%;
		float: left;
		// margin-left: 1.5%;
	}

	.hidden {
		display: block;
		float: left;
		text-align: center;
		width: 38%;
		margin: 0 auto;
		.map-container {
			width: 33.33%;
			float: left;
			margin: 20px auto;
			height: 30px;
			// border-radius: 0;
			.filters {
				width: 95%;
				display: block;
				height: 35px;
				line-height: 30px;
				border: 1px solid #D0D6D9;
				cursor: pointer;
				outline: none;
				background-color: #FFF;
				font-family: $libre;
				font-weight: 300;
				line-height: 30px;
			}
		}
	}
}
























