.map {
	width: 90%;
	height: 200px;
	text-align: center;
}

section {
	text-align: center;
}

.casualties {
	background-color: $beige;
	width: 40%;
	height: 100px;
	display: inline-block;
	margin-bottom: 5%;
}
