
.graph {
	height: 70vw;
	width: 95vw;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #FFF;
	border: 1px solid #D0D6D9;
	.default {
		text-transform: uppercase;
		text-align: center;
		margin-top: 32vw;
	}
}


.stats {
	margin: 0 2.5%;
	.filter-container {
		width: 33.33%;
		float: left;
		margin: 20px auto;
		height: 30px;
		border-radius: 0;
		.filters {
			width: 95%;
			display: block;
			height: 35px;
			line-height: 30px;
			border: 1px solid #D0D6D9;
			cursor: pointer;
			outline: none;
			background-color: #FFF;
			font-family: $libre;
			font-weight: 300;
		}
		.increment {
			float: right;
		}
		.type {
			margin-left: 2.5%; 
		}	
	}
}


.sort {
	width: 95vw;
	margin: 0 auto;
	display: block;
	height: 50px;
	text-transform: uppercase;
	background-color: $beige;
	border: none;
	box-shadow: 0px 3px 6px grey;
}

.sort {
	font-family: $libre;
	font-weight: 500;
	text-transform: uppercase;
}
h2 {
	font-family: $mont;
	font-weight: 700;
	text-transform: uppercase;
}


.description {
	display: none;
}


@media (min-width: 800px) {


	.graph {
		min-width: 755px;
		width: 60%;
		height: 670px;
		float: right;
		margin-top: 1.5%;
		margin-right: 1.5%;
		margin-bottom: 20px;
		.default {
			margin-top: 285px;
		}
	}


	.stats {
		width: 35%;
		height: 75px; 
		margin: 0 1.5%;
		.filter-container {
			float: left;
			margin-top: 25px;
		}
	}

	.description {
		display: block;
		width: 35%;
		height: 374px;
		background-color: $lightBeige;
		margin-left: 1.5%;
		margin-top: 15px;
		h2 {
			padding-top: 30px;
			width: 100%;
			text-align: center;
		}
		p {
			width: 75%;
			margin: 0 auto;
			text-align: center;
			font-size: 14px;
			font-family: $libre;
			font-weight: 300;
		}
	}



}
