

#mapid { 
	height: 250px; 
	width: 250px;
	border-width: 3px;
}

.leaflet-container {
  height: 300px;
  width: 500px;
}


@import 'basicStyles/colors';
@import 'basicStyles/main-base';

@import 'layout/body';
@import 'layout/header';

@import 'utils/main-utils';

